WSConsumidorClientes/xml-resources/web-service-references/DatabaseWebService/wsdl/localhost_8080/WebSOAP_BD_Clientes/DatabaseWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://main/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://main/" name="DatabaseWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://main/" schemaLocation="http://localhost:8080/WebSOAP_BD_Clientes/DatabaseWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="addCustomerSOAP">
<part name="parameters" element="tns:addCustomerSOAP"/>
</message>
<message name="addCustomerSOAPResponse">
<part name="parameters" element="tns:addCustomerSOAPResponse"/>
</message>
<message name="editCustomerSOAP">
<part name="parameters" element="tns:editCustomerSOAP"/>
</message>
<message name="editCustomerSOAPResponse">
<part name="parameters" element="tns:editCustomerSOAPResponse"/>
</message>
<message name="listCustomersSOAP">
<part name="parameters" element="tns:listCustomersSOAP"/>
</message>
<message name="listCustomersSOAPResponse">
<part name="parameters" element="tns:listCustomersSOAPResponse"/>
</message>
<portType name="DatabaseWebService">
<operation name="deleteCustomer">
<input wsam:Action="http://main/DatabaseWebService/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://main/DatabaseWebService/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="addCustomerSOAP">
<input wsam:Action="http://main/DatabaseWebService/addCustomerSOAPRequest" message="tns:addCustomerSOAP"/>
<output wsam:Action="http://main/DatabaseWebService/addCustomerSOAPResponse" message="tns:addCustomerSOAPResponse"/>
</operation>
<operation name="editCustomerSOAP">
<input wsam:Action="http://main/DatabaseWebService/editCustomerSOAPRequest" message="tns:editCustomerSOAP"/>
<output wsam:Action="http://main/DatabaseWebService/editCustomerSOAPResponse" message="tns:editCustomerSOAPResponse"/>
</operation>
<operation name="listCustomersSOAP">
<input wsam:Action="http://main/DatabaseWebService/listCustomersSOAPRequest" message="tns:listCustomersSOAP"/>
<output wsam:Action="http://main/DatabaseWebService/listCustomersSOAPResponse" message="tns:listCustomersSOAPResponse"/>
</operation>
</portType>
<binding name="DatabaseWebServicePortBinding" type="tns:DatabaseWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomerSOAP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCustomerSOAP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listCustomersSOAP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DatabaseWebService">
<port name="DatabaseWebServicePort" binding="tns:DatabaseWebServicePortBinding">
<soap:address location="http://localhost:8080/WebSOAP_BD_Clientes/DatabaseWebService"/>
</port>
</service>
</definitions>